<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
</head>
<body>

<div th:replace="/fragments/nav.html :: fragment-nav"></div>

<!-- 페이지 소스 -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Board</h1>

        <br>
        <!-- 목록 출력 영역 -->
        <table class="table table-horizontal table-boarded">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>최종수정일</th>
            </tr>
            <tr th:each="list : ${posts}">
                <td th:text="${list.id}"></td>
                <td th:text="${list.title}"></td>
                <td th:text="${list.author}"></td>
                <td th:text="${#temporals.format(list.modifiedDate, 'yyyy-mm-dd HH:mm')}"></td>
            </tr>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center"
                th:with="start=${T(Math).floor(posts.number/10)*10},
                    last=(${start + 9 < posts.totalPages-1 ? start + 9 : posts.totalPages-1})">
                <li>
                    <a th:href="@{/(page=0)}" aria-label="First">
                        <span aria-hidden="true">First</span>
                    </a>
                </li>

                <li th:class="${posts.first} ? 'disabled'">
                    <a th:href="${posts.first} ? '#' :@{/index(page=${posts.number-1})}" aria-label="Previous">
                        <span aria-hidden="true"><</span>
                    </a>
                </li>

                <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == posts.number} ? 'active'">
                    <a th:text="${page+1}" th:href="@{/(page=${page})}"></a>
                </li>

                <li th:class="${posts.last} ? 'disabled'">
                    <a th:href="${posts.last} ? '#' : @{/index(page=${posts.number+1})}" aria-label="Next">
                        <span aria-hidden="true">></span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/(page=${posts.totalPages-1})}" aria-label="Last">
                        <span aria-hidden="true">Last</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="btn_wrap text-right">
            <a th:href="@{/posts-save}" class="btn btn-primary waves-effect waves-light">Write</a>
        </div>
    </div>
</div>
<!-- 페이지 소스 -->

<footer th:replace="/fragments/footer.html :: fragment-footer"></footer>
</body>
</html>